.price-page {
  background: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.price-page>.sticky-header:not(.main-header) {
  position: sticky;
  top: 0;
  z-index: 200;
  background: var(--bg-color);
  padding: 12px 16px;
  border-bottom: 1px solid var(--shadow);

  .header-row {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .price-back-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--color-primary);
  }

  .price-search {
    flex: 1;
    height: 38px;
    border-radius: 12px;
    border: none;
    font-family: var(--f-light);
    padding: 0 14px;
    font-size: 14px;
    color: var(--text);
    background: var(--shadow);
  }
}

.price-page>.sticky-header.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--bg-color);
  padding: 24px 16px 16px;
  max-width: 768px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  .categories-header {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      opacity: 0.6;
    }

    .header-controls {
      display: flex;
      flex-wrap: nowrap;

      .price-search {
        width: 100%;
        height: 38px;
        border-radius: 12px;
        border: none;
        padding: 0 14px;
        font-size: 14px;
        color: var(--text);
        font-family: var(--f-light);
        background: var(--shadow);
        margin-right: 16px;
      }

      .export-btn {
        min-width: 250px;
        background-color: green;
        color: azure;
      }
    }


  }
}

.price-scroll-container {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 90px;
}

.price-page>.sticky-header.main-header+.price-scroll-container {
  margin-top: 120px;
}

@media (max-width: 1024px) {
  .desktop-export {
    display: none;
  }
}

.price-loading {
  text-align: center;
  padding-top: 40px;
}